In [10]:
import json
import pandas as pd
import os
import matplotlib.pyplot as plt

In [2]:
celebrity_id = '007'

In [3]:
with open('instagram_stories_data' + '/' + celebrity_id + '_t.json') as f:
    d_technical = json.load(f)

In [4]:
df_technical = pd.json_normalize(d_technical)
df_technical = df_technical.rename(columns={'mean_score_prediction': 'technical_score'})
df_technical

                   image_id  technical_score
0   2021-03-18_11-50-19_UTC         4.269414
1   2021-03-18_11-50-41_UTC         4.681085
2   2021-03-18_11-51-03_UTC         5.275289
3   2021-03-18_11-51-22_UTC         4.680047
4   2021-03-18_11-51-40_UTC         4.711874
5   2021-03-19_17-11-36_UTC         5.313058
6   2021-03-20_12-09-07_UTC         4.483305
7   2021-03-20_12-09-22_UTC         4.164498
8   2021-03-21_12-03-04_UTC         5.180733
9   2021-03-26_18-43-00_UTC         5.360032
10  2021-03-27_17-02-08_UTC         2.849097
11  2021-03-27_17-02-17_UTC         4.274292
12  2021-03-27_17-02-41_UTC         4.906482
13  2021-03-28_16-10-40_UTC         4.289481

In [5]:
with open('instagram_stories_data' + '/' + celebrity_id + '_a.json') as f:
    d_aesthetic = json.load(f)

In [6]:
df_aesthetic = pd.json_normalize(d_aesthetic)
df_aesthetic = df_aesthetic.rename(columns={'mean_score_prediction': 'aesthetic_score'})
df_aesthetic

                   image_id  aesthetic_score
0   2021-03-18_11-50-19_UTC         5.536308
1   2021-03-18_11-50-41_UTC         5.317514
2   2021-03-18_11-51-03_UTC         5.253780
3   2021-03-18_11-51-22_UTC         5.494147
4   2021-03-18_11-51-40_UTC         5.427717
5   2021-03-19_17-11-36_UTC         5.604164
6   2021-03-20_12-09-07_UTC         5.751799
7   2021-03-20_12-09-22_UTC         4.863684
8   2021-03-21_12-03-04_UTC         5.044085
9   2021-03-26_18-43-00_UTC         4.797031
10  2021-03-27_17-02-08_UTC         3.718460
11  2021-03-27_17-02-17_UTC         3.528502
12  2021-03-27_17-02-41_UTC         4.989927
13  2021-03-28_16-10-40_UTC         5.964311

In [7]:
df = pd.merge(df_technical, df_aesthetic, on='image_id')
df

                   image_id  technical_score  aesthetic_score
0   2021-03-18_11-50-19_UTC         4.269414         5.536308
1   2021-03-18_11-50-41_UTC         4.681085         5.317514
2   2021-03-18_11-51-03_UTC         5.275289         5.253780
3   2021-03-18_11-51-22_UTC         4.680047         5.494147
4   2021-03-18_11-51-40_UTC         4.711874         5.427717
5   2021-03-19_17-11-36_UTC         5.313058         5.604164
6   2021-03-20_12-09-07_UTC         4.483305         5.751799
7   2021-03-20_12-09-22_UTC         4.164498         4.863684
8   2021-03-21_12-03-04_UTC         5.180733         5.044085
9   2021-03-26_18-43-00_UTC         5.360032         4.797031
10  2021-03-27_17-02-08_UTC         2.849097         3.718460
11  2021-03-27_17-02-17_UTC         4.274292         3.528502
12  2021-03-27_17-02-41_UTC         4.906482         4.989927
13  2021-03-28_16-10-40_UTC         4.289481         5.964311

In [8]:
out_dict = {'celebrity': celebrity_id, 'photo_count': len(df)}
scores_dict = df.mean().to_dict()
out_dict.update(scores_dict)
out_dict

{'celebrity': '007',
 'photo_count': 14,
 'technical_score': 4.602763330563903,
 'aesthetic_score': 5.092244886241836}

In [9]:
data = []
if os.path.exists('output.json'):
    with open('output.json') as fp:    
        old_data = json.load(fp)
else:
    old_data = []

for element in old_data:
    data.append(element)

data.append(out_dict)

with open("output.json", "w") as fp:
    json.dump(data, fp)